.home-hearo-header {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1446' height='250' preserveAspectRatio='none' viewBox='0 0 1446 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1032%26quot%3b)' fill='none'%3e%3crect width='1446' height='250' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M174.84775649585654 168.34076494837166L160.68182495241578 101.69529688028969 108.20228842777458 182.50669649181242z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M311.5721262807047 207.69754723274724L316.7800876223738 148.17027670671035 252.04485575466782 202.48958589107815z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M877.8035222089902 271.71848894599145L876.9136673292586 220.7387370292251 825.9339154124923 221.62859190895668 826.8237702922238 272.608343825723z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M705.67 98.49 a82.84 82.84 0 1 0 165.68 0 a82.84 82.84 0 1 0 -165.68 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M380.16 2.21 a73.69 73.69 0 1 0 147.38 0 a73.69 73.69 0 1 0 -147.38 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1148.0964238824106 267.96615821599585L1158.56693184425 201.85797271251647 1092.4587463407704 191.38746475067725 1081.988238378931 257.49565025415666z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M728.6850334102429 94.65253888850096L750.7812075954564 76.75940983861933 712.8934269280272 52.561713085739825z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M271.5271289166433 59.23906930380549L223.17557792784052 29.025666973621526 192.96217559765657 77.37721796242428 241.31372658645932 107.59062029260824z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M941.3406419446068 156.9639872478077L923.5572331119363 195.1006305597205 989.6539024961407 202.70742215276994z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M807.39 105.86 a75.31 75.31 0 1 0 150.62 0 a75.31 75.31 0 1 0 -150.62 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1077.7012845853415 49.85692769333852L1015.2060582302666 46.521965796348866 1039.1886362710422 95.69353768432622z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1236.9021984170556 248.70339363609799L1242.664659374635 219.0581019749109 1195.3154914040647 225.2370563691354z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1032'%3e%3crect width='1446' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
 background-size: cover;
  background-position: center center;
  height: 250px;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}

.home-hero-header-layout {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-title {
  font-size: 40px;
  background-color: var(--main-color);
  padding: 10px 17px;
  border-radius: 21px;
  color: var(--dark-color);
  border: 2px solid var(--green-color);
}

.home-latest-post {
  margin-left: 30px;
  padding-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
  color: var(--dark-color);
  border-bottom: 2px solid var(--dark-color);
  width: max-content;
  margin-bottom: 20px;
}

.home-container {
  padding: 0 30px;
  display: flex;
  align-items: flex-start;
}

.home-see-posts-link {
  padding: 0 30px;
  margin: 15px 0;
}

.home-see-posts-link .home-link {
  width: 100%;
  padding: 10px;
  font-size: 21px;
  background-color: var(--dark-color);
  color: var(--white-color);
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  display: block;
  text-align: center;
}

/* Media Queries */
@media (max-width: 990px) {
  .home-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 520px) {
  .home-container {
    padding: 0 15px;
  }

  .home-latest-post {
    margin-left: 15px;
  }

  .home-title {
    font-size: 30px;
  }
}
